.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 8px;
}
.icon {
  margin-right: 5px;
}
.delete {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
